<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika">
        <style>
            h1 {
                font-family: "Signika", sans-serif;
            }
        </style>
    </head>
    <body>
        <div style="padding: 10px; height: 100px; width: calc(100% - 20px); text-align: center; vertical-align: middle;"> 
            <h1 style="height: 100%; font-size: 50px;">Welcome to Your <img style="height: 50%; margin:auto;" src="/logoDark.png"> Admin Panel</h1>
        </div>
        <hr style="width: 60%; left: 20%;">
    </body>
</html>